:root{
  --bg-color:#fff;
  --bg-color-second:#F2F2F2;
  --text-color:#111517;
  --other-color:#848484;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color:#e7a1a1;
}
body{
  font-family: 'Nunito Sans', Arial, sans-serif;

}

.dark-mode{
  --bg-color:#2B3844;
  --bg-color-second:#202C36;
  --text-color:#FFFFFF;
  --other-color:#FFFFFF;
}
/* .dark-mode-remove{
  --bg-color:#2B3844;
  --bg-color-second:#202C36;
  --text-color:#FFFFFF;

} */
a{
  text-decoration: none;
  color:var(--text-color);
}
.countries-wrapper{
  width: 100%;
  max-width: 1440px;
  /* height: auto; */
  margin: auto;
  padding-bottom: 50px;
  /* border: 1px solid red; */
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 24px 80px 23px;
  background-color: var(--bg-color);
  /* border: 1px solid blue; */
}
.header-heading-question{
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  color:var(--text-color);
}
.btn{
  width: 108px;
  height: 22px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  border:none;
  background-color:var(--bg-color);
  color: var(--text-color);
  cursor: pointer;

}
.moon-img{
  width:15px;
  height: 13px;
  margin-top: 3px;
  margin-right: 8px;
  background-color:var(--bg-color);
}
.main-content{
  width: 100%;
  height: 944px;
  background-color:var(--bg-color-second);
  padding-top: 48px;
  padding-bottom: 45px;

}
.container{
  width: 1280px;
  height: 100%;
  margin: auto;
  /* border:1px solid yellow; */

}
form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.input-search{
  width: 480px;
  height: 56px;
  padding-left: 74px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border:none;
  border-radius: 4px;
  color:var(--text-color);
  background-color:var(--bg-color);
  background-image: url(./img/icon-search-black.svg);
  background-repeat: no-repeat;
  background-position: 19px 18px;

}
/* svg{
  fill: var(--other-color);
} */
::placeholder{
  color:var(--other-color);
}
select{
  width: 200px;
  height: 56px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  color:var(--text-color);
  background-color:var(--bg-color);
}
.flags-countries{

}

.country-list-top{
  display: flex;
  margin-bottom: 75px;
}
.country-list-item-top{

  width: 264px;
  height: 336px;
  list-style: none;
  background-color:var(--bg-color);
  box-shadow: #00000008;
  border-radius:4px;
}

.country-list-item-top:not(last-child){
  margin-right: 74px;

}
.flag-germany-img{
  width: 264px;
  height: 160px;
  border-radius:4px;

}
.heading-name-country{
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  color:var(--text-color);
}
.text-country{

  margin-left: 24px;
  margin-bottom: 8px;
  color: var(--text-color);

}
strong{
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
span{
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}